* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  transition: letter-spacing 0.15s linear;
}

a:hover {
  letter-spacing: 1.5px;
}

/* Navbar styles */

nav {
  background-color: #314b40;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

nav ul li {
  list-style: none;
}

/* Hero styles */

.hero {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSbgQCTpOVUo29jpBLQCWUwZuod5RzoSgWVHg&usqp=CAU");
  height: 86vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Footer styles */

footer {
  background-color: #314b40;
  height: 7vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}