* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2rem;
  font-family: sans-serif;
}

.wrapper {
  width: 100%;
  max-width: 1300px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 30%;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  margin-top: 60px;
  height: 420px;
  position: relative;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  transition: 0.15s linear;
  -webkit-transition: 0.15s linear;
  -moz-transition: 0.15s linear;
  -ms-transition: 0.15s linear;
  -o-transition: 0.15s linear;
}

.card__body:hover {
  background-color: #5ec1d4;
  color: #fff;
}

.card__body h2 {
  margin: 20px 0 10px 0;
  font-weight: 700;
  font-size: 28px;
}
.card__body h1 {
  margin: 20px 0;
  font-weight: 700;
  font-size: 28px;
}

.card__body p {
  width: 80%;
  font-size: 14px;
}

img {
  width: 250px;
  position: absolute;
  top: -60px;
}

.card__btn {
  padding: 0.75rem 2.5rem;
  background-color: #ffb331;
  border: none;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: #fff;
  margin-bottom: 20px;
  box-shadow: 4px 4px 7px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: 0,15 linear;
  -webkit-transition: 0,15 linear;
  -moz-transition: 0,15 linear;
  -ms-transition: 0,15 linear;
  -o-transition: 0,15 linear;
  font-weight: 700;
}

.card__btn:hover {
  transform: rotateY(-4px);
  -webkit-transform: rotateY(-4px);
  -moz-transform: rotateY(-4px);
  -ms-transform: rotateY(-4px);
  -o-transform: rotateY(-4px);
  background-color: #f0a625;
}

.card__btn:active {
  transform: translate(-2px);
  -webkit-transform: translate(-2px);
  -moz-transform: translate(-2px);
  -ms-transform: translate(-2px);
  -o-transform: translate(-2px);
  background-color: #e29612;
}

.card__price-off {
  position: absolute;
  background-color: #ff2400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  letter-spacing: 1.2px;
  top: -15px;
  right: -15px;
  color: #fff;
}

/* Responsive */
@media (max-width: 600px) {
  .card {
    width: 100%; /* Full width on small screens */
  }
}
@media (min-width: 601px) and (max-width: 920px) {
  .card {
    width: 45%; /* Two cards per row on medium screens */
  }
}
@media (min-width: 921px) and (max-width: 1400px) {
  .card {
    width: 30%; /* Three cards per row on large screens */
  }
}


